.completed-container {
  display: flex;
  width: 72vw;
  height: 165px;
  background-color: burlywood;
  flex-direction: row;
  border-radius: 12px;
  margin: 5% 0% 0% 13%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.completed-img {
  margin-right: 23px;
  margin-left: 23px;
  height: 92%;
  width: 12%;
}

.completed-img img {
  margin-top: 3px;
  height: 100%;
  width: 100%;
}

.completed-img div {
  display: flex;
}

.completed-titles {
  text-align: left;
  margin-right: 369px;
  margin-top: 13px;
}
